# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# MongoDB connection string (Native MongoDB Driver)
MONGODB_URI="mongodb+srv://ferrylinton:ferry27071983@myatlasdb.7wiaa0e.mongodb.net/beverage_app_db?appName=MyAtlasDb"

# Upstash Redis connection string for Token Bucket rate limiting
REDIS_URL="rediss://default:gQAAAAAAApl_AAIgcDExYTAzY2Q0YjM0NjI0YWVhODgxODY5OTJhN2QyYWZlNA@funny-swift-170367.upstash.io:6379"

# SMTP Mail configuration
SMTP_HOST="mail.marmeam.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="noreplay@marmeam.com"
SMTP_PASS="noreplay123456"
SMTP_FROM="GlobalScript 123 <noreplay@marmeam.com>"

# JWT Secret
JWT_SECRET="beverage_pos_jwt_secret_key_2026"
